<div class="header">
    <a href="https://myo3.fr.to/">
     {{> icon_logo}}
    </a>
    <div class="icon-actions">
        <div class="settings">
            <a href="settings">
                {{> icon_gear}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}">
                {{> icon_sign_out}}
            </a>
        </div>
    </div>
</div>
