<div class="auth">
    <div class="container" id="login">
      <!--  {{> icon_logo}} -->
        <h5 class="subheading">CT Image Analysis Services</h5>

        {{> messages messages=messages className="global"}}

        <div id="ui">
            {{> ui ui=ui}}
        </div>

        <hr class="divider">
    </div>
</div>
